{% for message in messages %}{% for content in message['content'] | selectattr('type','equalto','image') %}{{ '<image>' }}{% endfor %}{% for content in message['content'] | selectattr('type','equalto','text') %}{{ content['text'] }}{% endfor %}{% endfor %}